@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./normalize.css";

* {
    font-family: 'Roboto', sans-serif;
}

/*INDEX*/
#backgroundIMG {
    position: absolute;
    opacity: 50%;
    width: 100%;
    height: 100%;
    z-index: -999999;
}

#heroIndex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75vh;

    h3 {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 0.5rem;
        padding: 2rem;
        background-color: #a8cda8;

        input {
            margin-bottom: 1rem;
        }
        button{
            padding: 0.5rem;
            margin-top: 1rem;
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #64c464, #48c548);
    height: 5vh;
    color: #fff;
}


/*COMUNES*/
header {
    display: flex;
    background-image: linear-gradient(to bottom, #a8cda8, #5ac05a);
    height: 20vh;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}

#headerAlumno h1,
#headerProfesor h1 {
    margin: auto auto;
}

#headerAlumno img,
#headerProfesor img {
    width: 10rem;
}

#opacar {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity 800ms ease-in-out;

    &.active {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        width: 100%;
        height: 100%;
        opacity: 60%;
        z-index: 100;
        transition: background-color 800ms ease-in-out;
    }
}

/*VISTA ALUMNO*/
#heroVistaAlumno {
    display: grid;
    grid-template-columns: 15rem auto;
    grid-template-rows: auto;
    height: 80vh;
    outline: 1px solid gray;
    background-image: linear-gradient(to right, #9dc992, #e4f0de);

    #barraLateralAlu {
        display: inline-flex;
        grid-column: 1;
        grid-row: 1;
        margin: auto 0;

        nav {
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    border: 1px solid gray;
                    padding: 2rem;
                    cursor: pointer;
                    background-color: gainsboro;

                    &.active {
                        background-color: lightgreen;
                    }

                    &:hover {
                        box-shadow: 2px 0px 2px gray;
                        transform: scale(1.03);
                    }

                    a {
                        width: 100%;
                        height: 100%;
                        text-decoration: none;
                        color: black;
                    }

                    &:nth-child(5) {
                        background-color: rgb(255, 90, 90);
                    }

                    &:nth-child(5):hover a {
                        color: white;
                    }

                    i {
                        margin-right: 0.2rem;
                    }
                }
            }
        }


    }

    #mainContenidoAlu {
        grid-column: 2;
        grid-row: 1;
        margin: auto auto;

        .contenido {
            display: none;
        }

        .contenido.active {
            display: flex;
        }

        #divAñadir {
            display: none;
            overflow: hidden;
            position: absolute;
            left: 35%;
            top: 30%;
            width: 0;
            height: 0;
            transition: width 1s ease-in-out, height 1s ease-in-out, opacity 1s ease-in-out, background-color 1s ease-in-out;
            border: 1px solid black;
            opacity: 0;
            padding: 1rem;
            z-index: 150;

            &.active {
                width: 25rem;
                height: 10rem;
                transition: width 1s ease-in-out, height 1s ease-in-out, opacity 1s ease-in-out, background-color 1s ease-in-out;
                background-color: #a8cda8;
                opacity: 1;
            }

            #buttonAñadir {
                margin-top: 1rem;
            }

            form {
                display: flex;
                flex-direction: column;
                opacity: 1;

                div {
                    display: inline-block;

                    label {
                        display: inline-block;
                        width: 10rem;
                    }

                    input {
                        width: 12rem;
                    }


                }
            }

            &>button {
                position: absolute;
                right: 0;
                top: 0;
            }
        }


        #divActualizar {
            display: none;
            position: absolute;
            top: 30%;
            left: 43%;
            z-index: 9999;
            background-color: #a8cda8;
            opacity: 0;
            transition: opacity 800ms ease-in-out;

            form {
                display: flex;
                flex-direction: column;
                width: 15rem;
                padding: 2rem;

                input {
                    &:nth-child(5) {
                        margin-bottom: 1rem;
                    }
                }
            }

            button:nth-child(1) {
                position: absolute;
                right: 0;
                top: 0;
            }

            &.active {
                opacity: 1;
                transition: opacity 800ms ease-in-out;
            }
        }


        #seccionTabla {
            flex-direction: column;

            table {
                border-collapse: collapse;
                margin: 0 auto;
                width: 50%;

                thead {
                    background-color: lightgray;
                }

                tr {
                    &:nth-child(2n) {
                        background-color: lightgray;
                    }

                }

                tbody tr:nth-child(odd) {
                    background-color: #ffffff;
                }

                th {
                    border: 1px solid black;
                    padding: 0.5rem 1rem;
                }

                td {
                    text-align: center;
                    border: 1px solid black;
                    padding: 0.5rem 1rem;
                }
            }


            #botonesEdicion {
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 1rem;

                &>div {
                    margin: 0 17rem 0 0;
                }
            }


        }


        #horas {
            flex-direction: column;
            align-items: center;

            div {
                display: flex;
                justify-content: center;

                article {
                    margin: 0 2rem;
                    text-align: center;

                    table {
                        border-collapse: collapse;

                        thead {
                            tr {
                                background-color: lightgray;
                            }
                        }

                        tbody {
                            tr {
                                background-color: #ffffff;
                            }
                        }

                        th,
                        td {
                            padding: 0.5rem;
                            border: 1px solid black;
                        }
                    }
                }

            }


        }

        #infoEmpresa {
            flex-direction: column;
            margin: 5rem 0;
            align-items: center;

            #tablaEmpresa {
                tr:nth-child(odd) {
                    background-color: white;
                }

                tr:nth-child(even) {
                    background-color: #ebe9e8;
                }

                th,
                td {
                    padding: 0.3rem;
                    text-align: left;
                }
            }


        }

        #infoTutor {
            flex-direction: column;
            margin: 5rem 0;
            align-items: center;

            #tablaTutor {

                tr:nth-child(even) {
                    background-color: #ebe9e8;
                }

                tr:nth-child(odd) {
                    background-color: white;
                }

                th,
                td {
                    padding: 0.3rem;
                    text-align: left;
                }
            }


        }

    }

}


.block {
    display: block !important;
}

.none {
    display: none !important;
}



/*VISTA PROFESOR*/
#heroVistaProfesor {
    display: grid;
    grid-template-columns: 15rem auto;
    grid-template-rows: auto;
    outline: 1px solid gray;
    height: 80vh;
    background-image: linear-gradient(to right, #9dc992, #e4f0de);



    #barraLateralProf {
        display: inline-flex;
        grid-column: 1;
        grid-row: 1;
        margin: auto 0;

        nav {
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    border: 1px solid gray;
                    padding: 2rem;
                    cursor: pointer;
                    background-color: gainsboro;

                    &.active {
                        background-color: lightgreen;
                    }

                    &:hover {
                        box-shadow: 2px 0px 2px gray;
                        transform: scale(1.03);
                    }

                    a {
                        width: 100%;
                        height: 100%;
                        text-decoration: none;
                        color: black;
                    }

                    &:nth-child(5) {
                        background-color: rgb(255, 90, 90);
                    }

                    &:nth-child(5):hover a {
                        color: white;
                    }

                    i {
                        margin-right: 0.2rem;
                    }
                }
            }
        }


    }

    #mainContenido {
        grid-column: 2;
        grid-row: 1;
        margin: auto auto;

        .contenido {
            margin: 2rem 0;
            padding: 1rem;
            display: none;
        }

        .contenido.active {
            display: block;
            border: 1px solid gray;
            margin: 2rem 0;
            padding: 1rem;

        }


        #tablaAlumnos.active {
            display: flex;
            align-items: center;

            article:nth-child(1) {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            img {
                width: 2rem;
                cursor: pointer;
            }

            #infoAlumno {
                display: none;


                form {
                    display: flex;
                    flex-direction: column;
                    margin-left: 2rem;

                    #añadirEditarAlu {
                        margin-top: 1rem;
                    }
                }
            }

        }

        #tablaActividades {



            h2 {
                text-align: center;
            }

            table {
                border-collapse: collapse;
                text-align: center;

                thead tr {
                    background-color: lightgray;
                }

                tbody tr:nth-child(even) {
                    background-color: lightgray;
                }

                tbody tr:nth-child(odd) {
                    background-color: #ffffff;
                }



                th,
                td {
                    padding: 0.5rem;
                    border: 1px solid black;
                }
            }



        }

        #horasAlumnosProf {
            text-align: center;
            background-color: white;

            table {
                width: 100%;
                border-collapse: collapse;

                tr:nth-child(odd) {
                    background-color: lightgray;
                    border: 1px solid lightgray
                }

                tr:nth-child(even) {
                    background-color: #ffffff;
                }

                th,
                td {
                    padding: 0.2rem;
                    border: 1px solid #dddddd;
                    text-align: center;
                    border: 1px solid lightgray;
                }

            }
        }

        #empresasProf {

            #empresasAsignadas {
                display: flex;

                table {
                    width: 100%;
                    border-collapse: collapse;
                    margin-bottom: 10px;

                    tr:nth-child(odd) {
                        background-color: lightgray;
                    }

                    tr:nth-child(even) {
                        background-color: #ffffff;
                    }

                    th,
                    td {
                        padding: 6px;
                        border: 1px solid #dddddd;
                        text-align: center;
                        border: 1px solid black;
                    }

                }

                form {
                    display: flex;
                    flex-direction: column;
                    margin-left: 2rem;

                    button {
                        margin-top: 10px;
                    }
                }
            }

            #infoEmpresas {
                border: 1px solid gainsboro;

                form {
                    display: flex;
                    flex-direction: column;
                }
            }



        }

    }
}