@use 'parts/vars';
@use 'parts/index';
@use 'parts/alumno';
@use 'parts/profesor';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('normalize/normalize.css');


/*ESTILOS COMUNES*/
* {
    font-family: 'Roboto', sans-serif;
}

body.opacado {
    overflow-y: hidden;
}

header {
    display: flex;
    background-image: vars.$gradientHeader;
    height: 20vh;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    h1 {
        margin: auto auto;
    }

    img {
        width: 10rem;
    }
}


#opacar {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity 800ms ease-in-out;

    &.active {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        width: 100%;
        height: 100%;
        opacity: 60%;
        z-index: 100;
        transition: opacity 800ms ease-in-out;
    }
}

.block {
    display: block !important;
}

.none {
    display: none !important;
}