<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/903082a171.js" crossorigin="anonymous"></script> <!--Fonts Awesome-->
    <title>Portal Alumno</title>
</head>

<body>
    <header id="headerAlumno">
        <img src="../static/img/logo/logoPEC.png" alt="Logo PECesur">
        <h1>Portal del Alumno</h1>
    </header>

    <main id="heroVistaAlumno">

        <div id="opacar"></div>
        <aside id="barraLateralAlu">
            <nav>
                <ul>
                    <li data-target="seccionTabla" class="active"><a href="#seccionTabla"><i
                                class="fa-solid fa-book"></i>Diario de actividades</a></li>
                    <li data-target="horas"><a href="#horas"><i class="fa-solid fa-hourglass-half"></i>Horas</a></li>
                    <li data-target="infoEmpresa"><a href="#infoEmpresa"><i class="fa-solid fa-building"></i>Empresa
                            asignada</a></li>
                    <li data-target="infoTutor"><a href="#infoTutor"><i class="fa-solid fa-person"></i>Tutor
                            asignado</a></li>
                    <li data-direction="index"><a href="#"><i class="fa-solid fa-right-from-bracket"></i>Cerrar
                            sesión</a></li>
                </ul>
            </nav>
        </aside>
        <section id="mainContenidoAlu">

            <section id="divAñadir">
                <button type="button" data-type="cerrar"><i class="fa-solid fa-x"></i></button>
                <form action="#" method="POST">
                    <div>
                        <label for="fechaIn">Fecha</label>
                        <input type="text" id="fechaIn">
                    </div>
                    <div>
                        <label for="tipoIn">Tipo de práctica</label>
                        <input type="text" id="tipoIn">
                    </div>
                    <div>
                        <label for="horasIn">Número horas</label>
                        <input type="text" id="horasIn">
                    </div>
                    <div>
                        <label for="activIn">Actividades realizadas</label>
                        <input type="text" id="activIn">
                    </div>
                    <div>
                        <label for="obserIn">Observaciones</label>
                        <input type="text" id="obserIn">
                    </div>
                    <button type="button" id="buttonAñadir">Añadir entrada</button>
                </form>
            </section>

            <section id="divActualizar">
                <button type="button" data-type="cerrar"><i class="fa-solid fa-x"></i></button>
                <form action="#" method="POST">
                </form>
            </section>

            <section id="seccionTabla" class="contenido active">
                <div id="botonesEdicion">
                    <div>
                        <button type="button" data-type="eliminar" title="Eliminar registro seleccionado"><i
                                class="fa-solid fa-trash-can"></i></button>
                        <button type="button" data-type="editar" title="Editar registro seleccionado"><i
                                class="fa-solid fa-pencil"></i></button>
                    </div>
                    <button id="añadirEntrada" data-type="abrirAñadir"><i class="fa-solid fa-plus"></i>Añadir
                        entrada</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Fecha</th>
                            <th>Tipo de práctica</th>
                            <th>Total horas/día</th>
                            <th>Actividades realizadas</th>
                            <th>Observaciones/incidencias</th>
                        </tr>
                    </thead>
                    <tbody id="cuerpoTabla">
                        <tr id="R5tr">
                            <td><input type="checkbox" id="R5"></td>
                            <td>15/10/2023</td>
                            <td>Dual</td>
                            <td>7</td>
                            <td>Maquetación con HTML y CSS</td>
                            <td>-</td>
                        </tr>
                        <tr id="R4tr">
                            <td><input type="checkbox" id="R4"></td>
                            <td>14/10/2023</td>
                            <td>Dual</td>
                            <td>7</td>
                            <td>Formación online</td>
                            <td>-</td>
                        </tr>
                        <tr id="R3tr">
                            <td><input type="checkbox" id="R3"></td>
                            <td>13/10/2023</td>
                            <td>Dual</td>
                            <td>7</td>
                            <td>Mantenimiento backend</td>
                            <td>-</td>
                        </tr>
                        <tr id="R2tr">
                            <td><input type="checkbox" id="R2"></td>
                            <td>12/10/2023</td>
                            <td>Dual</td>
                            <td>7</td>
                            <td>Optimización SEO</td>
                            <td>-</td>
                        </tr>
                        <tr id="R1tr">
                            <td><input type="checkbox" id="R1"></td>
                            <td>11/10/2023</td>
                            <td>Dual</td>
                            <td>7</td>
                            <td>Revisión código</td>
                            <td>-</td>
                        </tr>
                    </tbody>

                </table>
            </section>


            <section id="horas" class="contenido">
                <h2>Horas de prácticas:</h2>
                <div>
                    <article>
                        <p><strong>DUAL</strong></p>
                        <table>
                            <thead>
                            <tr>
                                <th>Horas realizadas</th>
                                <th>Horas pendientes</th>
                                <th>Total horas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>60</td>
                                <td>100</td>
                                <td>160</td>
                            </tr>
                        </tbody>
                        </table>
                    </article>
                    <article>
                        <p><strong>FCT</strong></p>
                        <table>
                            <thead>
                                <tr>
                                    <th>Horas realizadas</th>
                                    <th>Horas pendientes</th>
                                    <th>Total horas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>60</td>
                                    <td>100</td>
                                    <td>160</td>
                                </tr>
                            </tbody>
                        </table>
                    </article>
                </div>
            </section>



            <section id="infoEmpresa" class="contenido">
                <h2>Empresa asignada:</h2>
                <div>

                    <table>
                        <tr>
                            <th>Empresa:</th>
                            <td>miEmpresa SL</td>
                        </tr>
                        <tr>
                            <th>Dirección</th>
                            <td>C/Empresa FCT, S/N</td>
                        </tr>
                        <tr>
                            <th>Horario:</th>
                            <td>Lunes - Viernes: 8:00 - 15:00</td>
                        </tr>
                        <tr>
                            <th>Tutor de empresa asignado:</th>
                            <td>Juan Carlos Molina Luque</td>
                        </tr>
                        <tr>
                            <th>Teléfono de contacto:</th>
                            <td><a href="tel:+34674235458">674235458</a></td>
                        </tr>
                        <tr>
                            <th>Correo electrónico:</th>
                            <td><a href="mailto:tutorEmpresa@empresa.com">tutorEmpresa@empresa.com</a></td>
                        </tr>



                    </table>
                </div>
            </section>
            <section id="infoTutor" class="contenido">
                <h2>Tutor profesor asignado:</h2>
                <div>

                    <table>
                        <tr>
                            <th>Nombre y apellidos:</th>
                            <td>Juan José Martínez Pérez</td>
                        </tr>
                        <tr>
                            <th>Horario de tutorías:</th>
                            <td>Martes - Viernes: 8:00 - 15:00</td>
                        </tr>

                        <tr>
                            <th>Teléfono de contacto:</th>
                            <td><a href="tel:+34652145879">652145879</a></td>
                        </tr>
                        <tr>
                            <th>Correo electrónico:</th>
                            <td><a href="mailto:tutorProfesor@cesurformacion.com">tutorProfesor@cesurformacion.com</a>
                            </td>
                        </tr>



                    </table>
            </section>


        </section>

    </main>

    <script type="text/javascript" src="../static/js/app.js"></script>
</body>

</html>