$verdeForm: #a8cda8;
$gradientHeader: linear-gradient(to bottom, #a8cda8, #5ac05a);
$gradientFooter: linear-gradient(to bottom, #64c464, #48c548);
$mainGradient: linear-gradient(to right, #9dc992, #e4f0de);
$grayTabla: lightgray;
$blancoTabla: #ffffff;
$verdeNav: lightgreen;
$rojoCerrar: rgb(255, 90, 90);
$hoverIcon: #9dc992;